#header{
    height: 66px;
}
.header{
    line-height: 66px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(190,190,190,0.50);
    position:fixed;
    width:100%;
    z-index: 999;
}
.logo{
    display: inline-block;
    /*height: 35px;*/
}
.header-nav{
    height: 100%;
}
@media (min-width: 1200px){
    .layout-nav{
        width: 1200px;
    }
}
@media (min-width: 768px){
    .navbar {
        border-radius: 0;
        border: none;
        background: #fff;
        /*margin: 8px 0;*/
        /*float: right;*/
        margin-bottom: 0;
    }
    /*+++*/
    .navbar-nav>li>a{
        padding-top:0;
    }
}
/*+++*/
.navbar-nav>li>a{
    line-height:66px
}
.header_nav{
    padding: 0;
}

.navbar-default .navbar-nav>li{
    height: 66px;
}
.underlines{
    border-bottom: 2px solid #62A7FF;
}
.headerNav .navbar-nav>li>a{
    color:#3B3B49;
    margin: 8px 0;
}
.dropdown-toggle span{
    margin-left: 5px;
}
.dropdown{
    width: 65px;
}
.caret{
    color:#9B9B9B
}
@media (min-width: 768px){
    .navbar-right .dropdown-menu{
        min-width:0;
        top:70%;
        text-align: center;
        right: 9px;
    }
}
@media (max-width: 767px){
    .navbar-default .navbar-nav>li{
        height: 50px;
    }
    .headerUl>li{
        display: inline-block;
        text-align: center;
        white-space: nowrap;
    }
    .headerUl .underline{
        width: 32px;
    }
    .headerUl .underline:nth-child(1){
        width: 38px;
    }
    .headerUl .underline:nth-child(3){
        width: 55px;
    }
    .headerNav{
        background-color: transparent;
        border:none;
        margin-bottom: 0;
    }
    .introduce{
        margin: 25px 0;
    }
    .navbar-nav>li>a{
        padding: 0px;
    }
    /*+++*/
    .header_nav{
        padding: 0 15px;
        border-color:#fff;
        background-color:#fff;
    }
    .navbar{
        margin-bottom: 0;
        border:none;
    }
    .navbar-toggle{
        top:50%;
        margin-top:17px;
        margin-right: 0;
    }
    .underline:nth-child(1),.underline:nth-child(2){
        width: 30px;
    }
    .underline:nth-child(3){
        width: 60px;
    }
}
.header_login{
    color:#3B3B49;
}
.header_login:hover:link,.header_login:hover{
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a{
    color:#3B3B49
}